.disclaimer {
    /* padding-top: 5px; */
    text-align: right;   
    color: rgba(240, 111, 111, 0.822);   
}

.pageForm {
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.searchForm {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    gap: 5px;
}

.info {
    width: 40%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    
}

.rcol {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.ccol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lcol {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rcol *, .lcol * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1.nba {
    margin: 0;
}

h3.nbarefr {
    float: center;
    font-size: 14;
    padding: 8px;
}

/* #szn {

} */

.dyn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 2rem auto;
    width: fit-content;
}

#hs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

#hs img {
    width: 100%;
    height: auto;
    display: block;
}

#stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    margin-bottom: 20px;
    border-spacing: 5px;
    width: 15%;
}

table caption {
    font-weight: bold;
    margin-bottom: 10px
}

table tr th, 
table tr td{
    border: 1px solid black;
    font-size: 20px;
    padding: 4px;
}

/* tables display vertically on small screens */ 
@media (max-width: 600px) {
    #stats {
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 90%;
    }

    .info {
        width: 90%;
    }

    .dyn {
        flex-direction: column; 
        align-items: center;
    }

    .disclaimer {
        text-align: center;
    }
}