/*PAGE HEADER*/
header {
    font-size: 18px;
    padding: 5px;
    color: rgba(223, 206, 231, 0.822);
}

/*MAIN BODY*/
body {
    background-color: darkslategrey;
    color: white;
    font-size: 18px;
}

/*HEADING TAGS*/
h1 {
    color:blanchedalmond;
    font-size: 44px;
}

h2 {
    color: rgb(219, 169, 123);
    font-size: 30px;
}

h3 {
    color: rgb(214, 198, 175);
    font-size: 32px;
    font-weight:normal;
    margin-bottom: 5px;
    margin-top: 20px;
}

h4 {
    color: rgb(214, 198, 175);
    text-align: center;
    font-size: 20px;
    font-weight:normal;
}

.sechdr {
    color: rgb(190, 195, 245);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* left aligned back button */
.goback {
    float: left;
}

/* LINK ANCHORS */ 
a {
    color: pink;
}

a.transpar {
    color: inherit;
}

a.big {
    font-size: 22px;
}

a.med {
    font-size: 18px;
}

/*FOR THE SEPARATOR*/
.decorator {
    text-align: center;
}

.ineldec {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

/*INTRO BLOCK OF MAIN PAGE*/
.intro {
    width: 60%;
    max-width: 100%;
    margin: 0 auto;/* centers the div */
    text-align: center;
}

/* @media (max-width: 600px) {
    .intro {
        width: 90%
    }
} */

/* MAIN CENTER ALIGN CLASS */
.center {
    margin: auto;
    padding: 5px;
    text-align: center;
}

.centert {
    margin-bottom: 0;
    margin-top: 5px;
    padding: 2px;
    /* padding: 5px; */
    text-align: center;
    align-items: center;
}

/* DIV CLASS FOR PROJECT SECTIONS */
.prjel {
    margin: auto;
    margin-top: 0;
    padding-right: 2px;
    padding-left: 2px;
    text-align: center;
    max-width: 40%;
}

/* PET PICS */
.picsdiv { 
    color:rgb(198, 226, 180);
    text-align: center;
	align-items: center;
}

ul.pics {
  padding: 0;
  margin: 0 auto; /* centers the <ul> itself */
  text-align: center;
  list-style: none; /* optional, if you want to remove bullets */
}

ul.pics li {    
    color:rgb(198, 226, 180);
    font-size:20px;
    display:inline-flex;
    text-align: center;
	align-items: center;
}

ul.pics li figure img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

/* USED FOR MUSIC LINKS */
ul.nobullet {
    list-style-type: none; 
    margin: auto;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

footer {
    text-align: center;
    font-size: 20px;
}

.flexels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

/* for items to place vertically outside of flexels */
.emphitem {
    margin: auto;
    width: 50%;
    max-width: 60%;
    text-align: center;
    align-items: center;
}

.flexel {
    width: 30%;
    max-width: 100%;
    text-align: center;
}

@media (max-width: 600px) {
    .intro {
        width: 90%
    }
    
    .flexels {
    flex-direction: column; 
    align-items: center;
    display: flex;

    }

    .flexel,
    .emphitem {
        width: 90%;
        max-width: 100%;
    }

    ul.pics li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul.pics li figure img {
        width: fit-content;
    }

}