header {
    font-size: 18px;
    padding: 5px;
    color: rgba(223, 206, 231, 0.822);
}

body {
    background-color: darkslategrey;
    color: white;
    font-size: 18px;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 20px;
}

h1 {
    color:blanchedalmond;
    font-size: 44px;
}

h2 {
    color: rgb(219, 169, 123);
    font-size: 30px;
}

h3 {
    color: rgb(214, 198, 175);
    font-size: 32px;
    font-weight:normal;
    margin-bottom: 5px;
    margin-top: 20px;
}

.inline {
    display: inline-block;
}

.rhdr {
    /*float: right;*/
}

.lhdr {
    float: left;
}

.intro {
    width: 70%;
    margin: 0 auto; /* centers the div */
    text-align: center;
}

a {
    color: pink;
}

a.transpar {
    color: inherit;
}

a.big {
    font-size: 22px;
}

a.med {
    font-size: 18px;
}

ul {
    margin-bottom: 0px;
    margin-top: 0px;
}

ul.horiz {
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-position: inside;

}

ul.horiz li {
    list-style-type: circle;
    font-size: 18px;
    padding-inline: 15px;
}

ul.pics li {    
    color:rgb(198, 226, 180);
    font-size:20px;
    display:inline-block;
    padding-inline: 10px;
    text-align: center;
}

ul.pics li figure img {
    width: 400px;
    height: auto;
    margin-top: 10px;
}

div.center {
  margin: auto;
  padding: 5px;
  text-align: center;
}

div.right {
  margin: auto;
  padding: 10px;
  text-align: right;
}

/* tables display horizontally on large screens */
#nba {
    display: flex;
    gap: 20px;           
    flex-wrap: wrap;
    justify-content: center;
}

/* tables display vertically on small screens */ 
@media (max-width: 600px) {
    #nba {
        flex-direction: column;
        align-items: center;
    }

    table {
        width: 90%;
    }
}



